# Lab2 - CSV Preparation

<table width="100%"><tr><td bgcolor=#00BFF></td></tr></table>

# 1 Import modules

In [139]:
import pandas as pd
import random
import re

# Set random seed for reproducibility
random_seed = 42
random.seed(random_seed)

# 2 Original Data Preparation

## 2.1 Name
Names string with first name and last name separated by newline, 1000 names generated by https://generatedata.com/generator

In [172]:
dfNames = pd.read_csv('data/names1000.csv', delimiter=' ')
print(dfNames.info())
dfNames.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   firstName  1000 non-null   object
 1   lastName   1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB
None

  firstName lastName
0    Indigo  Leonard
1     Alana  Wilkins
2     Ethan   Abbott
3     Kevyn   Hurley
4   Leandra   Mercer

## 2.2 studentId

- length of 9 digits
- type: int

In [177]:
# Define function to generate correct id
def generate_student_id(n=8):
    # Generate a random number whose first leading number is not 0（1-9）
    first_digit = random.choice('123456789')
    # Generate a random last 8 digits
    random_digits = ''.join(random.choices('0123456789', k=n))
    # Combined into a complete student ID
    student_id = first_digit + random_digits
    return student_id

In [143]:
# Call function to generate student ID
studentId = generate_student_id()
print("Generated Student ID:", studentId)
print(type(studentId))

Generated Student ID: 202276804
<class 'str'>

## 2.3 courseId courseName
- legnth of 7 characters
- type: 3 letters followed by 4 digits

In [144]:
# Copied from https://www.algonquincollege.com/future-students/courses/
# '\t' is used to separate couseId and courseName
courses = """
CST8914	ACCESSIBLE BY DESIGN	
CST8300	Achieving Success in Changing Environments	
CST8276	Advanced Database Topics	
CST8922	APPLIED PROJECTS	
CST8390	Business Intelligence and Data Analytics	
CST8283	Business Programming	
CST8921	CLOUD INDUSTRY TRENDS	
CST8913	CLOUD MIGRATION	
CST8912	CLOUD SOLUTIONS ARCHITECTURE	
CST8118	Computer Essentials	
CST8117	CROSS-PLATFORM WEB DESIGN	
CST8325	CURRENT TRENDS IN WEB APPLICATION DEVELOPMENT	
CST8250	DATABASE DESIGN AND ADMINISTRATION	
CST8260	DATABASE SYSTEM AND CONCEPTS	
CST2355	Database Systems	
CST8918	DEVOPS - INFRASTRUCTURE AS CODE	
CST8919	DEVOPS - SECURITY AND COMPLIANCE	
CST8277	Enterprise Application Programming	
CST8915	FULL-STACK CLOUD-NATIVE DEVELOPMENT	
CST8318	GRAPHICS TECHNOLOGIES	
CST8920	HIGHLY EFFECTIVE TEAMS	
CST8279	INTRODUCTION COMPUTER PROGRAMMING USING PYTHON	
CST8911	INTRODUCTION TO CLOUD COMPUTING	
CST8116	Introduction to Computer Programming	
CST8215	Introduction to Database
CST2335	Mobile Graphical Interface Programming	
CST8254	NETWORK OPERATING SYSTEMS	
CST8109	Network Programming	
CST8284	Object Oriented Programming (Java)	
CST8288	Object Oriented Programming with Design Patterns	
CST8102	Operating System Fundamentals (GNU/Linux)	
CON5040	Pipeline Construction Safety Training (PCST)	
CST8333	Programming Language Research Project	
CST8268	PROJECT	
CST8916	REMOTE DATA AND REAL-TIME APPLICATIONS	
CST8917	SERVERLESS APPLICATIONS	
CST8319	Software Development Project	
CST2234	Systems Analysis and Design	
CST8257	WEB APPLICATIONS DEVELOPMENT	
CST8285	Web Programming	
CST8209	WEB PROGRAMMING I	
CST8253	WEB PROGRAMMING II	
CST8256	WEB PROGRAMMING LANGUAGES I	
CST8259	WEB PROGRAMMING LANGUAGES II	
CST8258	WEB PROJECT MANAGEMENT	
CST8265	WEB SECURITY BASICS
ENL1813T	COMMUNICATIONS I
ENL2019T	Technical Communication for Engineering Technologies
MAT8001C	Technical Mathematics for Computer Science
"""

In [145]:
# Split the courses string into lines
courseList = courses.strip().split('\n')

# Split each line into courseId and courseName
courseData = [line.strip().split('\t') for line in courseList]

# Create a DataFrame from the list of lists
dfCourses = pd.DataFrame(courseData, columns=['courseId', 'courseName'])

dfCourses

    courseId                                         courseName
0    CST8914                               ACCESSIBLE BY DESIGN
1    CST8300         Achieving Success in Changing Environments
2    CST8276                           Advanced Database Topics
3    CST8922                                   APPLIED PROJECTS
4    CST8390           Business Intelligence and Data Analytics
5    CST8283                               Business Programming
6    CST8921                              CLOUD INDUSTRY TRENDS
7    CST8913                                    CLOUD MIGRATION
8    CST8912                       CLOUD SOLUTIONS ARCHITECTURE
9    CST8118                                Computer Essentials
10   CST8117                          CROSS-PLATFORM WEB DESIGN
11   CST8325      CURRENT TRENDS IN WEB APPLICATION DEVELOPMENT
12   CST8250                 DATABASE DESIGN AND ADMINISTRATION
13   CST8260                       DATABASE SYSTEM AND CONCEPTS
14   CST2355                                   Database Systems
15   CST8918                    DEVOPS - INFRASTRUCTURE AS CODE
16   CST8919                   DEVOPS - SECURITY AND COMPLIANCE
17   CST8277                 Enterprise Application Programming
18   CST8915                FULL-STACK CLOUD-NATIVE DEVELOPMENT
19   CST8318                              GRAPHICS TECHNOLOGIES
20   CST8920                             HIGHLY EFFECTIVE TEAMS
21   CST8279     INTRODUCTION COMPUTER PROGRAMMING USING PYTHON
22   CST8911                    INTRODUCTION TO CLOUD COMPUTING
23   CST8116               Introduction to Computer Programming
24   CST8215                           Introduction to Database
25   CST2335             Mobile Graphical Interface Programming
26   CST8254                          NETWORK OPERATING SYSTEMS
27   CST8109                                Network Programming
28   CST8284                 Object Oriented Programming (Java)
29   CST8288   Object Oriented Programming with Design Patterns
30   CST8102          Operating System Fundamentals (GNU/Linux)
31   CON5040       Pipeline Construction Safety Training (PCST)
32   CST8333              Programming Language Research Project
33   CST8268                                            PROJECT
34   CST8916             REMOTE DATA AND REAL-TIME APPLICATIONS
35   CST8917                            SERVERLESS APPLICATIONS
36   CST8319                       Software Development Project
37   CST2234                        Systems Analysis and Design
38   CST8257                       WEB APPLICATIONS DEVELOPMENT
39   CST8285                                    Web Programming
40   CST8209                                  WEB PROGRAMMING I
41   CST8253                                 WEB PROGRAMMING II
42   CST8256                        WEB PROGRAMMING LANGUAGES I
43   CST8259                       WEB PROGRAMMING LANGUAGES II
44   CST8258                             WEB PROJECT MANAGEMENT
45   CST8265                                WEB SECURITY BASICS
46  ENL1813T                                   COMMUNICATIONS I
47  ENL2019T  Technical Communication for Engineering Techno...
48  MAT8001C         Technical Mathematics for Computer Science

## 2.4 Terms

- WINTER, SUMMER, FALL
- stored in the DB as 1, 2, 3

## 2.5 Years

- 1965 - 2025

In [146]:
# Terms and years
termList = ['WINTER', 'SUMMER', 'FALL']
yearList = list(range(1965, 2026))

## 2.5 Example data

In [147]:
examples= """
studentId, firstName, lastName, courseId, courseName, term, year
123546851, john, smith, cst8288, Software Design Patterns, WINTER, 2024
9861534S2, jane, smyth, mat1101A, Intro to Math, FALL, 2025
3215619823, michael, hill, cst8288, Software Design Patterns, SUMMER, 1955
"""

<table width="100%"><tr><td bgcolor=#00BFF></td></tr></table>

# 3 Random Create the Dataframe

Steps:

Step 1, first 3 rows  
use the exammples to create the example_df with 3 rows
```
exmaples= """
studentId, firstName, lastName, courseId, courseName, term, year
123546851, john, smith, cst8288, Software Design Patterns, WINTER, 2024
9861534S2, jane, smyth, mat1101A, Intro to Math, FALL, 2025
3215619823, michael, hill, cst8288, Software Design Patterns, SUMMER, 1955
"""
```

Step 2, Next 47 rows  
Step 2.1, studentId, created by this function：
```
def generate_student_id():
    # Generate a random number whose first leading number is not 0（1-9）
    first_digit = random.choice('123456789')
    # Generate a random last 8 digits
    random_digits = ''.join(random.choices('0123456789', k=8))
    # Combined into a complete student ID
    student_id = first_digit + random_digits
    return student_id
```

Step 2.2, For firstName, lastName, random sampling from dfNames(firstName, lastName), no duplicates

Step 2.3, courseId and courseName, random sampling from dfCourses(courseId, courseName), no duplicates

Step 2.4, term, random selected form termList = ['WINTER', 'SUMMER', 'FALL']

Step 2.5, year, random selected form year from 1965 to 2025

In [173]:
# Convert examples to a DataFrame
example_lines = examples.strip().split('\n')
example_data = [line.strip().split(', ') for line in example_lines[1:]]
example_df = pd.DataFrame(example_data, columns=['studentId', 'firstName', 'lastName', 'courseId', 'courseName', 'term', 'year'])
example_df

,studentId,firstName,lastName,courseId,courseName,term,year
0,123546851,john,smith,cst8288,Software Design Patterns,WINTER,2024
1,9861534S2,jane,smyth,mat1101A,Intro to Math,FALL,2025
2,3215619823,michael,hill,cst8288,Software Design Patterns,SUMMER,1955

In [205]:
# Generate 47 random records
num_records = 47
records = []
used_names = set()
used_courses = []
random_seed=42

# Sample the first 30 names from dfNames which has 1000 different names
sampled_names = dfNames.head(30)

# Dictionary to store unique studentId for each (firstName, lastName) pair
student_ids = {}

while len(records) < num_records:
    # while True:
    #     random_seed += 1
    #     firstName, lastName = sampled_names.sample(n=1, random_state=random_seed).values[0]
    #     if (firstName, lastName) not in used_names:
    #         used_names.add((firstName, lastName))
    #         break
    random_seed += 1
    
    firstName, lastName = sampled_names.sample(n=1, random_state=random_seed).values[0]
    
    # Check if this name combination has been assigned a studentId
    if (firstName, lastName) not in student_ids:
        # Assign a new studentId to this (firstName, lastName) pair
        student_ids[(firstName, lastName)] = generate_student_id()  # Assuming this function generates unique student IDs
        
    studentId = student_ids[(firstName, lastName)]
    
    courseId, courseName = dfCourses.sample(n=1, random_state=random_seed).values[0]
    used_courses.append([courseId, courseName])
    
    term = random.choice(termList)
    year = random.choice(yearList)
    
    records.append([studentId, firstName, lastName, courseId, courseName, term, year])

# Create DataFrame for the generated records
generated_df = pd.DataFrame(records, columns=['studentId', 'firstName', 'lastName', 'courseId', 'courseName', 'term', 'year'])

# Combine example DataFrame and generated DataFrame
final_df = pd.concat([example_df, generated_df], ignore_index=True)

final_df.sort_values('studentId')

,studentId,firstName,lastName,courseId,courseName,term,year
45,120262490,Brenna,Booth,CST8915,FULL-STACK CLOUD-NATIVE DEVELOPMENT,FALL,1973
34,120262490,Brenna,Booth,CST8911,INTRODUCTION TO CLOUD COMPUTING,WINTER,1987
29,120262490,Brenna,Booth,CST8390,Business Intelligence and Data Analytics,FALL,1982
0,123546851,john,smith,cst8288,Software Design Patterns,WINTER,2024
24,124058657,Clayton,Farrell,CST8118,Computer Essentials,FALL,1968
3,124058657,Clayton,Farrell,CST8921,CLOUD INDUSTRY TRENDS,SUMMER,1968
41,303966221,Evangeline,Meyer,CST8333,Programming Language Research Project,SUMMER,2023
20,304128223,Kyra,Kline,CON5040,Pipeline Construction Safety Training (PCST),WINTER,2014
12,304128223,Kyra,Kline,CST8912,CLOUD SOLUTIONS ARCHITECTURE,FALL,1990
2,3215619823,michael,hill,cst8288,Software Design Patterns,SUMMER,1955
8,355655995,Sarah,Tate,CST8912,CLOUD SOLUTIONS ARCHITECTURE,SUMMER,2019
7,355775674,Evangeline,Reed,CST8285,Web Programming,WINTER,1975
35,355775674,Evangeline,Reed,CST8390,Business Intelligence and Data Analytics,FALL,1987
46,374135595,Calvin,Mccarty,CST8913,CLOUD MIGRATION,FALL,1999
18,374135595,Calvin,Mccarty,CST8283,Business Programming,WINTER,1969
30,374135595,Calvin,Mccarty,CST8318,GRAPHICS TECHNOLOGIES,FALL,2019
27,388061402,Indigo,Leonard,CST8921,CLOUD INDUSTRY TRENDS,FALL,1978
33,388061402,Indigo,Leonard,CST8258,WEB PROJECT MANAGEMENT,FALL,1975
28,457569663,Yuri,Barrett,CST8915,FULL-STACK CLOUD-NATIVE DEVELOPMENT,FALL,1998
13,477718659,Lev,Jennings,CST8300,Achieving Success in Changing Environments,FALL,2006
44,477718659,Lev,Jennings,CST8284,Object Oriented Programming (Java),WINTER,1978
15,478966053,Leandra,Mercer,CST8916,REMOTE DATA AND REAL-TIME APPLICATIONS,FALL,1974
23,478966053,Leandra,Mercer,CST8912,CLOUD SOLUTIONS ARCHITECTURE,WINTER,1972
48,483751991,Keegan,Arnold,CST8276,Advanced Database Topics,FALL,2023
49,483751991,Keegan,Arnold,CST8916,REMOTE DATA AND REAL-TIME APPLICATIONS,WINTER,1985
6,502512316,Alana,Wilkins,CST8917,SERVERLESS APPLICATIONS,FALL,2005
14,508379384,Alan,Humphrey,CST8117,CROSS-PLATFORM WEB DESIGN,WINTER,2020
17,571347523,Gareth,Yates,CST8919,DEVOPS - SECURITY AND COMPLIANCE,SUMMER,2014
38,571347523,Gareth,Yates,CST8915,FULL-STACK CLOUD-NATIVE DEVELOPMENT,SUMMER,1979
26,573906433,Meghan,Joyce,CST8390,Business Intelligence and Data Analytics,FALL,2024
19,573906433,Meghan,Joyce,CST8333,Programming Language Research Project,FALL,2006
11,592379895,Hamilton,Britt,CST8390,Business Intelligence and Data Analytics,FALL,2024
42,592379895,Hamilton,Britt,CST8265,WEB SECURITY BASICS,FALL,1986
4,627096984,Brandon,Yang,CST2234,Systems Analysis and Design,FALL,1968
21,646832535,Hayden,Benson,CST8325,CURRENT TRENDS IN WEB APPLICATION DEVELOPMENT,SUMMER,1975
9,646832535,Hayden,Benson,CST2355,Database Systems,FALL,1981
40,646832535,Hayden,Benson,CST8279,INTRODUCTION COMPUTER PROGRAMMING USING PYTHON,SUMMER,2007
16,652073455,Doris,Fox,CST8917,SERVERLESS APPLICATIONS,WINTER,1992
5,659437820,Abdul,May,ENL1813T,COMMUNICATIONS I,WINTER,2018
36,662958688,Amity,Lang,CST8102,Operating System Fundamentals (GNU/Linux),WINTER,2025
37,669410813,Ethan,Abbott,CST8919,DEVOPS - SECURITY AND COMPLIANCE,FALL,2025
22,669410813,Ethan,Abbott,CST8284,Object Oriented Programming (Java),FALL,2019
43,680862390,Christopher,Holland,CST8250,DATABASE DESIGN AND ADMINISTRATION,SUMMER,1999
31,680862390,Christopher,Holland,CST8390,Business Intelligence and Data Analytics,SUMMER,1996
47,680862390,Christopher,Holland,CST8215,Introduction to Database,FALL,2016
10,694379559,Rae,Warner,CST8916,REMOTE DATA AND REAL-TIME APPLICATIONS,SUMMER,1965
25,694379559,Rae,Warner,CST8319,Software Development Project,WINTER,2025
32,901957093,Jordan,Woodard,CST8915,FULL-STACK CLOUD-NATIVE DEVELOPMENT,SUMMER,1990
39,901957093,Jordan,Woodard,CST8911,INTRODUCTION TO CLOUD COMPUTING,WINTER,1986
1,9861534S2,jane,smyth,mat1101A,Intro to Math,FALL,2025

In [206]:
final_df['studentId'].value_counts().count()

29

In [212]:
final_df['courseId'].value_counts().count()

35

# 4 Validate exist errorse

Inspection conditions:
1. studentId - length of 9 digits
2. courseId - legnth of 7 characters, 3 letters followed by 4 digits
3. term - one of "WINTER", "SUMMER", 'FALL'
4. year - 1965 -2025

Possible errors:
1. studentId, Length is not 9 digits
2. courseId, should be 3 letters followed by 4 digits
3. term, beyond WINTER, SUMMER and FALL
4. year, less than 1965 or big than 2025

In fact, the second and third lines in the examples already contain the errors described above.

In [207]:
# Validation function
def validate_data(df):
    errors = []

    for idx, row in df.iterrows():
        student_id = row['studentId']
        course_id = row['courseId']
        term = row['term']
        year = int(row['year'])

        if len(student_id) != 9:
            errors.append((idx, 'studentId', student_id, 'Length is not 9 digits'))
        if not re.match(r'^[A-Za-z]{3}\d{4}$', course_id):
            errors.append((idx, 'courseId', course_id, 'Invalid format (should be 3 letters followed by 4 digits)'))
        if term not in termList:
            errors.append((idx, 'term', term, 'Invalid term (should be one of WINTER, SUMMER, FALL)'))
        if year < 1965 or year > 2025:
            errors.append((idx, 'year', year, 'Invalid year (should be between 1965 and 2025)'))

    return errors

In [208]:
# Validate data
validation_errors = validate_data(final_df)

# Print validation errors
for error in validation_errors:
    print(f'Row {error[0]}: Column {error[1]} - Value "{error[2]}" - Error: {error[3]}')

Row 1: Column courseId - Value "mat1101A" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 2: Column studentId - Value "3215619823" - Error: Length is not 9 digits
Row 2: Column year - Value "1955" - Error: Invalid year (should be between 1965 and 2025)
Row 5: Column courseId - Value "ENL1813T" - Error: Invalid format (should be 3 letters followed by 4 digits)

# 5 Create new errors

In [209]:
# Validate existing errors
initial_validation_errors = validate_data(final_df)

# Find rows number of exist errors
error_rows_existing = {error[0] for error in initial_validation_errors}

# Calulate rows for new errors
num_errors_to_generate = 10 - len(error_rows_existing)

# Create errors in rest rows without errors
remaining_indices = set(range(1, len(final_df))) - error_rows_existing
error_rows_to_generate = random.sample(sorted(remaining_indices), num_errors_to_generate)

for idx in error_rows_to_generate:
    # Randomly choose 1 to 4 error types
    num_errors = random.randint(1, 2)
    error_types = random.sample(['studentId', 'courseId', 'term', 'year'], num_errors)
    print(idx, error_types)
    if 'studentId' in error_types:
        student_id = final_df.at[idx, 'studentId']
        if random.choice([True, False]):
            # Remove 1 or 2 digits
            num_to_remove = random.randint(1, 2)
            final_df.at[idx, 'studentId'] = student_id[:-num_to_remove]
        else:
            # Add 1 random digit
            # num_to_add = random.randint(1, 2)
            additional_digits = ''.join(random.choices('0123456789', k=1))
            final_df.at[idx, 'studentId'] = student_id + additional_digits
        print(f'studentId modified to {final_df.at[idx, "studentId"]}')
        
    if 'courseId' in error_types:
        final_df.at[idx, 'courseId'] = final_df.at[idx, 'courseId'] + 'X'  # Make courseId invalid
        print('courseId')
        
    if 'term' in error_types:
        final_df.at[idx, 'term'] = random.choice(['AUTUMN', 'SPRING'])  # Make term invalid
        print('term')        
        
    if 'year' in error_types:
        final_df.at[idx, 'year'] = random.choice([1956, 1957, 1958, 1959, 1960, 2030, 2031, 2032, 2033])  # Make year out of range
        print('year')      

# Validate data
validation_errors = validate_data(final_df)

# Print validation errors
for error in validation_errors:
    print(f'Row {error[0]}: Column {error[1]} - Value "{error[2]}" - Error: {error[3]}')

8 ['term']
term
39 ['term', 'courseId']
courseId
term
38 ['courseId']
courseId
11 ['courseId']
courseId
15 ['studentId']
studentId modified to 4789660536
24 ['courseId']
courseId
13 ['studentId']
studentId modified to 4777186590
Row 1: Column courseId - Value "mat1101A" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 2: Column studentId - Value "3215619823" - Error: Length is not 9 digits
Row 2: Column year - Value "1955" - Error: Invalid year (should be between 1965 and 2025)
Row 5: Column courseId - Value "ENL1813T" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 8: Column term - Value "SPRING" - Error: Invalid term (should be one of WINTER, SUMMER, FALL)
Row 11: Column courseId - Value "CST8390X" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 13: Column studentId - Value "4777186590" - Error: Length is not 9 digits
Row 15: Column studentId - Value "4789660536" - Error: Length is not 9 digits
Row 24: Column courseId - Value "CST8118X" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 38: Column courseId - Value "CST8915X" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 39: Column courseId - Value "CST8911X" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 39: Column term - Value "SPRING" - Error: Invalid term (should be one of WINTER, SUMMER, FALL)

# 6 Final CSV

## 6.1 Create the CSV

In [210]:
csvFile = r'data\bulk-import_NameDuplicates.csv'

In [211]:
final_df.to_csv(csvFile, index=False)

print("CSV file created already！")

CSV file created already！

## 6.2 Copy the CSV to project data directory

In [169]:
import shutil
import os

# Original CSV file
csvFile = r'data\bulk-import.csv'

# Target Directory
targetDir = r'D:\Nextcloud\AlgonquinCollege\2024S\CST8288\projects\cst8288_lab2\Lab2-maven'

# Create the targetPath
targetPath = os.path.join(targetDir, csvFile)

# copy the file
shutil.copy(csvFile, targetPath)

print(f"CSV file copied successfully to {targetPath}")

CSV file copied successfully to D:\Nextcloud\AlgonquinCollege\2024S\CST8288\projects\cst8288_lab2\Lab2-maven\data\bulk-import.csv

In [167]:
targetPath

'D:\\Nextcloud\\AlgonquinCollege\\2024S\\CST8288\\projects\\cst8288-lab2-main\\app\\data\\bulk-import.csv'

<table width="100%"><tr><td bgcolor=#00BFF></td></tr></table>

<table width="100%"><tr><td bgcolor=#00BFF></td></tr></table>

In [74]:
import sys
print(sys.version)

3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]

42 => R  

Row 1: Column courseId - Value "mat1101A" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 2: Column studentId - Value "3215619823" - Error: Length is not 9 digits
Row 2: Column year - Value "1955" - Error: Invalid year (should be between 1965 and 2025)
Row 3: Column studentId - Value "10265774" - Error: Length is not 9 digits
Row 3: Column courseId - Value "CST8921X" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 3: Column term - Value "SPRING" - Error: Invalid term (should be one of WINTER, SUMMER, FALL)
Row 3: Column year - Value "1958" - Error: Invalid year (should be between 1965 and 2025)
Row 5: Column courseId - Value "ENL1813T" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 23: Column studentId - Value "11039726" - Error: Length is not 9 digits
Row 23: Column courseId - Value "CST8921X" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 23: Column term - Value "SPRING" - Error: Invalid term (should be one of WINTER, SUMMER, FALL)
Row 23: Column year - Value "2031" - Error: Invalid year (should be between 1965 and 2025)
Row 26: Column studentId - Value "16455927" - Error: Length is not 9 digits
Row 26: Column courseId - Value "CST8915X" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 26: Column term - Value "AUTUMN" - Error: Invalid term (should be one of WINTER, SUMMER, FALL)
Row 26: Column year - Value "1957" - Error: Invalid year (should be between 1965 and 2025)
Row 28: Column courseId - Value "CST8911X" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 28: Column term - Value "SPRING" - Error: Invalid term (should be one of WINTER, SUMMER, FALL)
Row 28: Column year - Value "2031" - Error: Invalid year (should be between 1965 and 2025)
Row 30: Column studentId - Value "56726249" - Error: Length is not 9 digits
Row 30: Column courseId - Value "CST8915X" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 30: Column year - Value "2032" - Error: Invalid year (should be between 1965 and 2025)
Row 34: Column studentId - Value "48988073" - Error: Length is not 9 digits
Row 34: Column year - Value "1960" - Error: Invalid year (should be between 1965 and 2025)
Row 38: Column studentId - Value "64918104" - Error: Length is not 9 digits

92 => C  
Row 1: Column courseId - Value "mat1101A" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 2: Column studentId - Value "3215619823" - Error: Length is not 9 digits
Row 2: Column year - Value "1955" - Error: Invalid year (should be between 1965 and 2025)
Row 5: Column studentId - Value "39103693" - Error: Length is not 9 digits
Row 5: Column term - Value "AUTUMN" - Error: Invalid term (should be one of WINTER, SUMMER, FALL)
Row 16: Column courseId - Value "CST8257X" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 20: Column studentId - Value "1277469769" - Error: Length is not 9 digits
Row 20: Column courseId - Value "CST8318X" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 26: Column courseId - Value "MAT8001C" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 27: Column studentId - Value "11376725" - Error: Length is not 9 digits
Row 27: Column courseId - Value "CST8922X" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 30: Column studentId - Value "3395882749" - Error: Length is not 9 digits
Row 30: Column year - Value "2030" - Error: Invalid year (should be between 1965 and 2025)
Row 31: Column courseId - Value "ENL1813T" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 44: Column courseId - Value "ENL2019T" - Error: Invalid format (should be 3 letters followed by 4 digits)

100 => L

Row 1: Column courseId - Value "mat1101A" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 2: Column studentId - Value "3215619823" - Error: Length is not 9 digits
Row 2: Column year - Value "1955" - Error: Invalid year (should be between 1965 and 2025)
Row 7: Column studentId - Value "9221771324" - Error: Length is not 9 digits
Row 9: Column studentId - Value "7975780" - Error: Length is not 9 digits
Row 16: Column year - Value "1956" - Error: Invalid year (should be between 1965 and 2025)
Row 18: Column courseId - Value "MAT8001C" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 23: Column courseId - Value "ENL1813T" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 37: Column courseId - Value "ENL2019T" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 44: Column courseId - Value "ENL2019T" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 45: Column term - Value "SPRING" - Error: Invalid term (should be one of WINTER, SUMMER, FALL)y 4 digits)

199 => W  

Row 1: Column courseId - Value "mat1101A" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 2: Column studentId - Value "3215619823" - Error: Length is not 9 digits
Row 2: Column year - Value "1955" - Error: Invalid year (should be between 1965 and 2025)
Row 13: Column courseId - Value "CST8919X" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 25: Column studentId - Value "6103321145" - Error: Length is not 9 digits
Row 30: Column studentId - Value "33664133" - Error: Length is not 9 digits
Row 30: Column courseId - Value "CST8259X" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 40: Column courseId - Value "CST8259X" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 42: Column courseId - Value "MAT8001C" - Error: Invalid format (should be 3 letters followed by 4 digits)
Row 43: Column term - Value "SPRING" - Error: Invalid term (should be one of WINTER, SUMMER, FALL)
Row 44: Column term - Value "AUTUMN" - Error: Invalid term (should be one of WINTER, SUMMER, FALL)
Row 44: Column year - Value "1958" - Error: Invalid year (should be between 1965 and 2025)
Row 48: Column courseId - Value "MAT8001C" - Error: Invalid format (should be 3 letters followed by 4 digits)